In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('clustering_data.csv')
df

      x     y
0  0.10  0.60
1  0.15  0.71
2  0.08  0.90
3  0.16  0.85
4  0.20  0.30
5  0.25  0.50
6  0.24  0.10
7  0.30  0.20

In [4]:
X = df.iloc[:, :]
X

      x     y
0  0.10  0.60
1  0.15  0.71
2  0.08  0.90
3  0.16  0.85
4  0.20  0.30
5  0.25  0.50
6  0.24  0.10
7  0.30  0.20

In [5]:
c_1 = df.iloc[0, :]
c_2 = df.iloc[7, :]
c_1 = [c_1.x, c_1.y]
c_2 = [c_2.x, c_2.y]
print(c_1, c_2)

[0.1, 0.6] [0.3, 0.2]

In [6]:
from sklearn.cluster import KMeans
model = KMeans(n_clusters=2)
model.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [7]:
model.predict([c_2])

array([0], dtype=int32)

In [8]:
labels = model.labels_
print(labels)

[1 1 1 1 0 0 0 0]

In [9]:
def population(l):
    p = 0
    for i in range(len(labels)):
        if labels[i] == l:
            p += 1
    return p

In [10]:
print('Population around m2 : ',population(0))

Population around m2 :  4

In [11]:
print('Value of m1 : ', c_1)
print('Value of m2 : ', c_2)

Value of m1 :  [0.1, 0.6]
Value of m2 :  [0.3, 0.2]

In [12]:
print('Updated value of m1 and m2 : ',model.cluster_centers_)

Updated value of m1 and m2 :  [[0.2475 0.275 ]
 [0.1225 0.765 ]]