In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('knn_data.csv')
df

   X  Y  label
0  4  2      0
1  6  2      1
2  2  4      0
3  4  4      1
4  6  4      0
5  4  6      0

In [3]:
X = df.iloc[:,:-1]
X

   X  Y
0  4  2
1  6  2
2  2  4
3  4  4
4  6  4
5  4  6

In [4]:
y = df.iloc[:, -1]
y

0    0
1    1
2    0
3    1
4    0
5    0
Name: label, dtype: int64

In [5]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')

In [6]:
X_test = [[6,6]]
y_predict = knn.predict(X_test)
print('Label of [6,6] : ',y_predict)

Label of [6,6] :  [0]

In [7]:
knn = KNeighborsClassifier(n_neighbors=3, weights='distance')
knn.fit(X, y)
y_predict = knn.predict(X_test)
print('Label of [6,6] using distance-weighted knn : ', y_predict)

Label of [6,6] using distance-weighted knn :  [0]

In [12]:
def average(values):
    mean = np.mean(values)
    for i in range(len(values)):
        values[i] = mean
    return values

In [13]:
knn = KNeighborsClassifier(n_neighbors=3, weights=average)
knn.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights=<function average at 0x7f05fd3d26a8>)

In [14]:
y_predict = knn.predict(X_test)
print('Label of [6,6] using locally-weighted averaging knn : ', y_predict)

Label of [6,6] using locally-weighted averaging knn :  [0]