In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('regression_data.csv')
df

    x   y
0  10  95
1   9  80
2   2  10
3  15  50
4  10  45
5  16  98
6  11  38
7  16  93

In [4]:
X = df.iloc[:, :-1]
X

    x
0  10
1   9
2   2
3  15
4  10
5  16
6  11
7  16

In [6]:
y = df.iloc[:, -1]
y

0    95
1    80
2    10
3    50
4    45
5    98
6    38
7    93
Name: y, dtype: int64

In [7]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [12]:
hours = int(input('Enter no. of hours : '))
y_pred = model.predict([[hours]])
print('Risk score : ', y_pred)

Enter no. of hours : 19
Risk score :  [99.75470155]

In [13]:
print('Equation for the best fit line : hours*%f + %f'%(model.coef_, model.intercept_))

Equation for the best fit line : hours*4.587899 + 12.584628